@media print {
    .unprintable {
        display: none!important;
    }
    .avoid-page-break {
        page-break-inside: avoid;
    }
    a:after {
        content: "("attr(href)")";
    }
    body {
        zoom: 90%;
    }
    #root {
        width: 100%!important;
        margin: 0px!important;
        padding: 0px!important;
    }
}

@media screen {
    .only-print {
        display: none!important;
    }
}

@page {
    size: auto;
    margin: 0mm;
}